<!-- wp:template-part {"slug":"main-header","theme":"apparel-ecommerce-store","tagName":"header"} /-->

<!-- wp:group -->
<div class="wp-block-group">

<!-- wp:pattern {"slug":"apparel-ecommerce-store/default-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">

<!-- wp:pattern {"slug":"apparel-ecommerce-store/404"} /-->

</main>
<!-- /wp:group -->


</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"apparel-ecommerce-store","tagName":"footer"} /-->